@import '../../../../style/variables';

.summary {
	font-size: .8em;
	.purposeItems {

	}
	.customPurposes {

	}
	.customPurposes .purposeTitle {
		padding: 0px 4px;
	}
	.purposeItem {
		display: flex;

		padding: 4px 0;
		color: @color-textLight;


		@media @smartphone {
			padding: 4px 0;
			display: flex;
			line-height: 21px;
		}
	}

	.learnMore {
		font-size: 14px;
		@media @smartphone {
			font-size: 12px;
		}
	}

	.purposeTitle {
		flex: 1;
		@media @smartphone {
			font-size: 14px;
			display: block;
			margin-bottom: 0;
		}
		font-size: 1em;
	}
	.acceptAll {
		background: @color-buttonSuccess;
		border-radius: 0;
		flex: 1;
	}
	.purposeAccept {
		flex: 0;
		margin: 2px;
		font-size: 1em;
		padding: 5px;
		height: 35px;
	}
	.purposeReject {
		flex: 0;
		margin: 2px;
		font-size: 1em;
		padding: 5px;
		height: 35px;
	}
	.help {
		transition: max-height 1s ease-out;
		max-height: 0;
		overflow: hidden;
		color: #999;
		padding-left: 20px;
		font-style: italic;
	}
	.expandedHelp {
		max-height: 400px !important;
	}
}
